@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Barlow';
    font-weight: 700;
    font-style: italic;
    src: url(./fonts/Barlow-BoldItalic.woff2) format('woff');
  }
  @font-face {
    font-family: 'Barlow';
    font-weight: 500;
    src: url(./fonts/Barlow-Medium.woff2) format('woff');
  }

  @font-face {
    font-family: 'Barlow';
    font-weight: 400;
    src: url(./fonts/Barlow-Regular.woff2) format('woff');
  }
  @font-face {
    font-family: 'Barlow';
    font-weight: 600;
    font-style: italic;
    src: url(./fonts/Barlow-SemiBoldItalic.woff2) format('woff');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 300;
    src: url(./fonts/Inter-LightBETA.woff2) format('woff');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url(./fonts/Inter-Regular.woff2) format('woff');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url(./fonts/Inter-SemiBold.woff2) format('woff');
  }

  ::selection {
    color: #f9f9f9;
    background: #c05749;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    transition: all 0.3s;
  }

  @layer components {
    .outline-custom {
      @apply focus-visible:outline-4 focus-visible:-outline-offset-4 focus-visible:outline focus-visible:outline-primary;
    }
  }
}

html {
  scroll-margin-top: 300px;
  scroll-padding-top: 300px;
}
